@CHARSET "ISO-8859-1";
.listdiv {
	padding: 20px 100px;
}

.listtable {
	border-collapse: collapse;
}

.listtable th {
	background-color: #a2c3cc;
	border: 1px solid #76b8b0;
	padding: 10px;
}

.listtable td {
	border: 1px solid #76b8b0;
}

.listtable td.label {
	padding: 10px 60px;
	background-color: #e5ebe3;
}

.listtable td input, .listtable td label {
	width: 300px;
	text-align: left;
	margin: 0 30px;
}

.listtable td button  {
    margin: 0 95px;
    padding: 1px 5px;
}
